# This is an example .env file. Copy this to .env and fill in the values.
# The .env file is used to store environment variables that are used by the application. It should not be committed to version control, as it may contain sensitive information such as database credentials and API keys.

# Database configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_SCHEMA=

# Authentication configuration
AUTH_SHARED_SECRET= #login handler

# Allowed Discord IDs (comma-separated) and API keys (comma-separated)
ALLOWED_DISCORD_IDS=
API_KEYS=

# hCaptcha configuration
HCAPTCHA_SITE_KEY=
HCAPTCHA_SECRET_KEY=
